node_modules/
install_nvm.sh
.clasprc.json
.nyc_output
build/
.DS_Store
out/

.vscode/
.clasp.json
creds.json
coverage/
clasp-wrapper.sh
.clasp-credentials.json
.clasp.json
.clasp.json
.clasp.json
.clasp.json
.clasp.json
